{% extends 'base.html' %}

{% block head %}
    <script src="{{url_for('static', filename='main/receipt.js')}}"></script>
{% endblock %}

{% block body %}
    <h1>{% block title %}Kvitto {{ receipt.receipt_date.strftime('%Y-%m-%d') }}{% endblock %}</h1>
    <div class="d-flex w-100">
        <div class="w-25 h-100 m-2">
            {% if receipt.file.filename.endswith('.pdf') %}
                <script>
                    addEventListener("DOMContentLoaded", (event) => {
                        renderPDF("{{ url_for('main.get_receipt_document', id=receipt.id) }}")
                    });
                </script>
                <canvas id="pdf-canvas" class="img-thumbnail img-fluid"></canvas>
            {% else %}
                <img class="img-thumbnail img-fluid" src="{{ url_for('main.get_receipt_document', id=receipt.id) }}" />
            {% endif %}
            <a class="btn btn-primary p-2 m-2" href="{{ url_for('main.get_receipt_document', id=receipt.id) }}" download="{{ receipt.file.filename }}">Ladda ner kvitto</a>
            <a class="btn btn-primary p-2 m-2" href="{{ url_for('main.get_document', id=receipt.id) }}" download>Ladda ner kvittoredovisning</a>
        </div>
        <div class="d-flex flex-column flex-grow-1 m-2">
            <div class="d-flex my-2">
                <h5 class="flex-shrink-1">{{receipt.body}}</h5>
                <div class="d-flex ms-auto">
                  <div class="d-flex align-items-center m-2">Inskickat: {{ receipt.submit_date.strftime('%Y-%m-%d') }}</div>
                </div>
                <p class="m-2 align-self-center" style="text-wrap: nowrap; ">Status: {{receipt.status.displayName}}</p>
            </div>
            <div class="d-flex align-items-center m-2">Summa: {{ receipt.amount/100 }}kr</div>
            <h3>Aktivitet</h3>
            <div class="m-2">
                {{ receipt.activity }}
            </div>
            {% if receipt.statusComment %}
            <h3>Statuskommentar</h3>
            <div class="m-2">
                {{ receipt.statusComment }}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}