{% extends 'base.html' %}

{%block navbar %}
{% endblock %}

{% block body %}
    <h1>{% block title %}Användare{% endblock %}</h1>
    <div class="list-group">
        {% for user in users %}
            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100">
                    <div class="d-flex flex-column flex-grow-1 m-2">
                        <div class="d-flex my-2 justify-content-between">
                            <div>
                                <p>{{user.name}}</p>
                            </div>
                            <small>{{ user.email }}</small>
                            <small>Senaste inloggning: {{ user.lastLogin.strftime("%Y-%m-%d %H:%M") if user.lastLogin else "Aldrig" }}</small>
                            <div>
                                <a class="p-2" href="{{ url_for('admin.update_user', id=user.id) }}" title="Ändra användare"><i class="fa-solid fa-pen-to-square"></i></a>
                                {% if user.id != g.user.id %}
                                    {% if ClearanceEnum.Admin in ClearanceEnum(user.userTypeId)%}
                                        <a class="p-2" href="{{ url_for('admin.remove_admin', id=user.id) }}" style="color: orange" title="Ta bort admin">Admin: <i class="fa-solid fa-square-check"></i></a>
                                    {% else %}
                                        <a class="p-2" href="{{ url_for('admin.make_admin', id=user.id) }}" style="color: orange" title="Lägg till admin">Admin: <i class="fa-regular fa-square"></i></a>
                                    {% endif %}
                                {% else %}
                                    <span style="color:lightgrey">Admin: <i class="fa-solid {{ (ClearanceEnum.Admin in ClearanceEnum(user.userTypeId) and 'fa-square-check') or 'fa-square'}}"></i></span>
                                {% endif %}
                                {% if ClearanceEnum.CFO in ClearanceEnum(user.userTypeId)%}
                                    <a class="p-2" href="{{ url_for('admin.remove_cfo', id=user.id) }}" style="color: orange" title="Ta bort CFO">CFO: <i class="fa-solid fa-square-check"></i></a>
                                {% else %}
                                    <a class="p-2" href="{{ url_for('admin.make_cfo', id=user.id) }}" style="color: orange" title="Lägg till CFO">CFO: <i class="fa-regular fa-square"></i></a>
                                {% endif %}
                                <a class="p-2" style="color: black;" href="{{ url_for('admin.reset_password', id=user.id) }}" title="Återställ lösenord"><i class="fa-solid fa-arrow-rotate-left"></i></a>
                                {% if user.id != g.user.id %}
                                    <a class="p-2" style="color: red;" onclick="return confirm('Är du säker?')" href="{{ url_for('admin.delete_user', id=user.id) }}" title="Radera användare"><i class="fas fa-trash"></i></a>
                                {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}