{% extends 'base.html' %}

{%block navbar %}
{% endblock %}

{% block body %}
    <h1>{% block title %}Användare{% endblock %}</h1>
    <div class="list-group">
        {% for user in users %}
            <div class="list-group-item list-group-item-action">
                <div class="d-flex w-100">
                    <div class="d-flex flex-column flex-grow-1 m-2">
                        <div class="d-flex my-2 justify-content-between">
                            <p>{{user.name}}</p>
                            <small>{{ user.email }}</small>
                            <small>Senast inloggad: {{ user.lastLogin.strftime("%Y-%m-%d %H:%M") if user.lastLogin else "Aldrig" }}</small>
                            <small>Användartyp: {{ user.userType.name }}</small>
                            <div>
                                {% if ClearanceEnum.Admin in ClearanceEnum(user.userTypeId)%}
                                    <a class="btn btn-warning p-2" href="{{ url_for('admin.remove_admin', id=user.id) }}">Ta bort admin</a>
                                {% else %}
                                    <a class="btn btn-warning p-2" href="{{ url_for('admin.make_admin', id=user.id) }}">Gör till admin</a>
                                {% endif %}
                                {% if ClearanceEnum.CFO in ClearanceEnum(user.userTypeId)%}
                                    <a class="btn btn-warning p-2" href="{{ url_for('admin.remove_cfo', id=user.id) }}">Ta bort CFO</a>
                                {% else %}
                                    <a class="btn btn-warning p-2" href="{{ url_for('admin.make_cfo', id=user.id) }}">Gör till CFO</a>
                                {% endif %}
                                <a class="btn btn-primary p-2" style="color: white;" href="{{ url_for('admin.reset_password', id=user.id) }}">Nollställ lösenord</a>
                                <a class="btn btn-danger p-2" style="color: white;" onclick="return confirm('Är du säker?')" href="{{ url_for('admin.delete_user', id=user.id) }}">Radera användare</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}