{% extends 'base.html' %}

{% block head %}
{% endblock %}


{% block body %}
<h1>{% block title %}Neka kvittoredovisning{% endblock %}</h1>
<form method="post" enctype="multipart/form-data" class="border px-2 py-3 border-2">
	{{ formMacros.csrf(form) }}
	{{ formMacros.with_errors(form.reason, class='form-control', form_class='form-floating mb-3') }}
	<div class="d-flex flex-row-reverse justify-content-between">
		<button class="btn btn-danger btn-lg" type="submit">Neka kvitto</button>
	</div>
</form>
{% endblock %}